/* RecipeCard.css */

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -16px; /* To counteract the margins applied to individual cards */
  }
  
  .recipe-card {
    flex-basis: calc(25% - 32px); /* Four cards in one row with margin subtraction */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
  }
  
  /* Rest of your existing styles... */
  
  
  .recipe-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .recipe-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .recipe-card p {
    margin: 6px 0;
  }
  
  .recipe-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .recipe-card a:hover {
    text-decoration: underline;
  }
  