.footer-container {
    background: #31355b;
    color: white;
    text-align: center;
    padding: 20px;
    /* margin-top: auto; */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h5 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    margin-top: 20px;
}
