.combined-container {
    /* margin-left: 210px;
    width: calc(100% - 210px);
    margin-right: 0px;
    flex-grow: 1; */
    margin-top: 108px;
    width: 100% !important;
}

.filler-component{
    height: 92dvh;
}

/* @media screen and (max-width: 1275px) {
    .combined-container {
        margin-left: 65px;
    }
} */

/* @media screen and (max-width: 991px) {
    .combined-container {
        margin-left: 0px;
    }
} */