.dashboard-container {
    margin-top: 108px;
    width: 100% !important;
    padding-bottom: 10rem;
}

.dashboard-header {
    color: #14da8f;
}

.dashboard-btn {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }