.exercisedetail-container {
    margin-top: 108px;
    width: 100% !important;
    padding-bottom: 10rem;
}

.exercisedetail-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 10%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #1E1E1E;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}