.homepage-container {
    padding-top: 108px;
    margin-left: 210px;
    width: calc(100%-210px);
    margin-right: 0px;
    flex-grow: 1;
}

@media screen and (max-width: 1275px) {
    .homepage-container {
        margin-left: 65px;
    }
}

@media screen and (max-width: 991px) {
    .homepage-container {
        margin-left: 0px;
    }
}