.homepage-container {
    margin-top: 108px;
    width: 100% !important;
    
    /* margin-left: 210px;
    width: calc(100% - 210px);
    margin-right: 0px;
    flex-grow: 1;
    height: 92dvh; */
}

/* @media screen and (max-width: 1275px) {
    .homepage-container {
        margin-left: 65px;
    }
}

@media screen and (max-width: 991px) {
    .homepage-container {
        margin-left: 0px;
    }

}

/* @media (min-width: 575px) {
    .carousel-caption {
        display: block !important;
    }
} */