.profile-container {
    margin-top: 108px;
    width: 100% !important;
    padding-bottom: 10rem;
}

.profileinfo-container {
    padding-bottom: 10rem;
}

.profile-header {
    background: none !important;
}