.data-container {
    margin-top: 108px;
    width: 100%;
    padding-bottom: 10rem;
}

@media screen and (max-width: 767px) {
    .nutrition-header{
        font-size: 1rem;
    }
    .ingredient-header {
        font-size: 1rem;
    }
}