.recipe-detail a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }

.recipe-detail {
  padding-bottom: 10rem;
}
  
  .recipe-detail a:hover {
    text-decoration: underline;
  }