.book-container {
    margin-top: 108px;
    width: 100% !important;
}

.label-text {
    font-size: 1rem !important;
    font-weight: bold;
}

.list-group {
    width: 75%;
}

.filler-container {
    padding-bottom: 50rem;
}

.filler-text {
    padding-bottom: 20rem;
}

.image-container {
    width: 200px !important;
}

.recipe-image {
    width: 100% !important;
    height: 200px !important;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
}

@media screen and (max-width: 991px) {
    .list-group {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .list-item-container {
        align-items: center;
        text-align: center;
    }
    .trash-container {
        width: 100% !important;
    }
    .trash-button {
        width: 50%;
    }
}

@media screen and (max-width: 575px) {
    .trash-button {
        width: 100%;
    }
}