.sidebar {
    background-color: rgb(250, 248, 248);
    padding-top: 5rem;
    position: fixed;
    height: 100%;
  }
.sidebar-content {
  display: flex;
  justify-content: start;
  padding-left: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sidebar-item {
  width:max-content;
  padding: 6px;
  border-radius: 0.6rem;
  display: flex;
  flex: row;
  align-items: center;
}

.sidebar-content:hover {
  background-color: #3fd8e0;
}

.logout-button {
  border: none !important;
  box-shadow: none !important;
  width:max-content;
  padding: 6px;
  border-radius: 0.5rem;
  display: flex;
  flex: row;
  align-items: center;
}

@media screen and (min-width: 1276px) {
  .sidebar {
    width: 210px;
  }
  .sidebar-content {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1275px) {
  .sidebar-text {
    display: none;
  }
  .sidebar {
    width: 65px;
  }
  .logout-button {
    border: none;
  }
  .sidebar-content {
    justify-content: center;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-text {
    display: block;
  }
}