.trainer-container {
    margin-top: 108px;
    width: 100% !important;
    padding-bottom: 20rem;
  }

.filler-component {
  padding-bottom: 10rem;
}

.img-gif {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .img-gif {
    width: 60%;
  }
}

.trainer-btn {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}