* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

/* .register-container {
  flex-grow: 1;
  overflow-y: auto;
} */

.input-icon {
  position: absolute;
  right: 0;
  padding-right: 30px;
  transform: translateY(-41px);
}