.shuffle-hero {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    padding-top: 8rem !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    align-items: center;
    width: 100%;
    max-width: 72rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Add styles for the .container class */
.container {
    max-width: 100%;
}

.shuffle-span {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: #6366F1;

    @media (min-width: 768px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.shuffle-h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;

    @media (min-width: 768px) {
        font-size: 3.75rem;
        line-height: 1;
    }
}

/* .shuffle-p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;

    @media (min-width: 768px) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
} */

.shuffle-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #6366F1;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    text-decoration: none;
}

.shuffle-button:hover {
    background-color: #4F46E5;
}

.shuffle-pic {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    grid-template-rows: repeat(4, minmax(0, 1fr)); 
    gap: 0.25rem; 
    height: 450px;
}
